/* src/styles/map.module.css */

.mapWrapper {
  display: flex;
  height: calc(100vh - 52px); /* Altura da tela menos a altura do header (ajuste 0.35rem * 16px * 2 + logoheight?) */
  width: 100%;
  position: relative; 
  overflow: hidden; 
  z-index: 1;
}

/* Container do mapa agora tem largura variável com transição */
.mapContainer {
  height: 100%;
  width: 100%; /* Começa com 100% */
  position: relative; /* Necessário para Leaflet */
  transition: width 0.5s ease-in-out; /* Transição suave na largura */
  background-color: #AAD3DF; /* Azul claro similar ao mar OSM - Fundo */
  flex-shrink: 0; /* Impede que encolha inesperadamente */
  
}

/* Classe aplicada quando o painel está aberto */
.mapContainerShifted {
  width: 60%; /* Reduz para 60% */
}


/* Copie todos os estilos do filtro da sua versão anterior para cá */
.filterButton {
  position: absolute; bottom: 1rem; left: 1rem; z-index: 1000; background-color: rgb(0, 0, 0);
  padding: 0.5rem 1rem; border: 1px solid #ccc; border-radius: 4px; cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.filterPanel {
  position: absolute; bottom: 1rem; left: 1rem; z-index: 1001; background-color: white;
  padding: 1rem; border: 1px solid #ccc; border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2); width: 300px; 
}
.filterHeader {
  display: flex; justify-content: space-between; align-items: center;
  margin-bottom: 1rem; border-bottom: 1px solid #eee; padding-bottom: 0.5rem;
}
.filterHeader h2 { margin: 0; font-size: 1.2rem; color: #333 }
.closeButton { background: none; border: none; font-size: 1.5rem; cursor: pointer; color: #888; }
.filterSectionTitle { font-weight: bold; margin-bottom: 0.5rem; color: #333}
.filterList { list-style: none; padding: 0; margin: 0; }
.filterItem { margin-bottom: 0.5rem; display: flex; align-items: center; }
.filterItem input { margin-right: 0.5rem; }

.filterItem label {
  color: #333; 
  cursor: pointer;
}