@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --dark-green: #306437;
  --middle-green: #4f7b58;
  --light-green: #8ab8a2;
  --yellow: #fee886;
  --red: #cc3a3d;
}

.light-gradient {
  background-image: linear-gradient(to bottom, #ffffff, var(--light-green));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .light-gradient {
    background-image: none;
    background-color: #0a0a0a;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Adicionar ao final de src/app/globals.css */

/* Isso garante que a estrutura base da página ocupe toda a altura da tela */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Isso faz com que a tag <main> (onde o conteúdo da página fica)
   seja flexível, ocupe todo o espaço restante e, se necessário, tenha sua própria barra de rolagem,
   sem empurrar o cabeçalho ou o rodapé. */
main {
  flex: 1;
  display: flex;
  flex-direction: column;   
}
